@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="DetailedArt-section">
    <div class="container">
        <div class="Main-Art">
            <h1>How To Use Digitalization In The Classroom</h1>
            <div class="Tags">
                <div class="Info">
                    <p>Mar 25, 2023</p>
                    <i class="fa-sharp fa-solid fa-circle-dot"></i>
                </div>

                <div class="Info">
                    <p>Business</p>
                    <i class="fa-sharp fa-solid fa-circle-dot"></i>
                </div>

                <div class="Info">
                    <p>Kimberly Hansen</p>
                    <i class="fa-sharp fa-solid fa-circle-dot"></i>
                </div>
            </div>
            <img src="~/images/Article/ClassroomBig.png">

            <div class="Main-Text">
              
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>
               
                <p>to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
                <i class="fa-solid fa-quote-left"></i>
                <span>to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
                <p>looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source</p>
            </div>
            <div class="Links">
                <a href="#">Digitization</a>
                <a href="#">School</a>
                <a href="#">IT</a>
                <a href="#">Design</a>
                <a href="#">Work</a>
                <a href="#">Tech</a>

            </div>
        </div>
        <div class="Art-Nav">

            <input placeholder="Type to search">

            <div class="Recent">
                <h3>Recent post</h3>
                <div class="Post">
                    <h2>How To Blow Through Capital At An Incredible Rate</h2>
                    <p>Jan 14, 2020</p>
                </div>

                <div class="Post">
                    <h2>Design Studios That Everyone Should Know About?</h2>
                    <p>Jan 14, 2020</p>
                </div>

                <div class="Post">
                    <h2>How did we get 1M+ visitors in 30 days without anything!</h2>
                    <p>Jan 14, 2020</p>
                </div>

                <div class="Post">
                    <h2>Figma On Figma: How We Built Our Website Design System</h2>
                    <p>Jan 14, 2020</p>
                </div>
            </div>
            <div class="Categories">
                <a href="#">Technology - <span>20 posts</span></a>
                <a href="#">Freelancing - <span>07 posts</span></a>
                <a href="#">Writing - <span>16 posts</span></a>
                <a href="#">Marketing - <span>11 posts</span></a>
                <a href="#">Business - <span>35 posts</span></a>
                <a href="#">Education - <span>14 posts</span></a>
            </div>
        </div>
    </div>
</section>