@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="aboutSection">
    <div class="container">
        <div class="about-view">
            <div class="display-founder">
                <img src="~/images/About/Founder.jpeg">
                <div class="about-text">
                    <h4>Samantha Brown, <span class="founder-text">Founder</span></h4>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    </p>
                </div>
            </div>
            <div class="display-about">
                <h2>About company</h2>
                <h4>We Are Business <br> Consulting & Credit <br> Repair Experts</h4>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis quas assumenda esse obcaecati? Ex esse error voluptates iure vel totam eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quasi incidunt adipisci accusantium libero provident voluptate amet.
                </P>
                <div class="about-links">
                    <a href="#" class="base-button">
                        <p>Learn More</p>
                        <i class="fas fa-arrow-right arrow-icon"></i>
                    </a>
                    <a href="#" class="round-button">
                        <div class="circle">
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                        <p>Intro video</p>
                    </a><a href="#" class="round-button">
                        <div class="circle">
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                        <p>Intro video</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>