@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="news-title-section">
    <div class="gray-line" style="position: relative; right: 0; bottom: -190px;">
            <img src="~/images/Showcase/gray-line.png">
        </div>
    <div class="container">
        
       <div class="banner-content">
        <div class="banner-links">
            <a href="Home">Home</a>
            <a href="News">News</a>
        </div>
        <div class="banner-header">
            <h1>Let’s Connect</h1>
        </div>
       </div>
    </div>
</section>