@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="features">
    <div class="container">
        <div class="feature-textbox">
          <div class="feature-text">
            <h3> Features</h3>
            <p>Our Accounting is trusted by thousand of companies
          </div>
          <div class="feature-button">
              <a href="#" class="base-button">
            <p>Get Consultning</p>
            <i class="fas fa-arrow-right arrow-icon"></i>
         </a>
          </div>
            
        </div>
        <div class="feature-cards">
            <div class="feature-card">
                <i class="fa-regular fa-handshake"></i>
                <h4>Buissness Advice</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="feature-card">
                <i class="fa-regular fa-lightbulb"></i>
                <h4>Buissness Advice</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="feature-card">
                <i class="fa-regular fa-chart-simple"></i>
                <h4>Buissness Advice</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="feature-card">
                <i class="fa-regular fa-cube"></i>
                <h4>Buissness Advice</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </div>
</section>