@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="Footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-logo">
                <img src="~/images/Logo/Logo.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.
                </p>
            </div>
            <div class="footer-cards">
                <div class="footer-card">
                    <h3>Company</h3>
                    <div class="footer-links">
                        <a href="">About</a>
                        <a href="">Features</a>
                        <a href="">Works</a>
                        <a href="">Career</a>
                    </div>
                </div>
        
                <div class="footer-card">
                    <h3>Help</h3>
                    <div class="footer-links">
                        <a href="">Costomer support</a>
                        <a href="">Delivery</a>
                        <a href="">Terms & Conditions</a>
                        <a href="">Privacy Policy</a>
                    </div>
                </div>
        
                <div class="footer-card">
                    <h3>Resources</h3>
                    <div class="footer-links">
                        <a href="">Free books</a>
                        <a href="">Development</a>
                        <a href="">How to Blog</a>
                        <a href="">Youtube blog</a>
                    </div>
                </div>
        
                <div class="footer-card">
                    <h3>Resources</h3>
                    <div class="footer-links">
                        <a href="">Free books</a>
                        <a href="">Development</a>
                        <a href="">How to Blog</a>
                        <a href="">Youtube blog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="trademark">
            
            <span>© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.
            </span>
            <div class="trademark-links">
                <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://pinterest.com" target="_blank"><i class="fa-brands fa-square-pinterest"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</section>