@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="graylogo-section">
    <div class="container">
        <div class="graylogos">
            <img src="~/images/graylogos/PAPERZ.png" alt="">
            <img src="~/images/graylogos/Dorfus.png" alt="">
            <img src="~/images/graylogos/Martino.png" alt="">
            <img src="~/images/graylogos/square.png" alt="">
            <img src="~/images/graylogos/Gobona.png" alt="">
        </div>
    </div>
</section>