@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<header class="header">
    <div class="container">
    <img src="~/images/Logo/Logo.png" alt="Logo">
        <div class="menu">
            <div class="top-menu">
                <div class="contact-information">
                    <div class="content-box">
                        <i class="fa-regular fa-phone-volume"></i>
                        +45 (8) 121 470 50
                    </div>
    
                    <div class="content-box">
                        <i class="fa-regular fa-location-dot"></i>
                        Sveavägen 31 68408 Stockholm
                    </div>
                    
                    <div class="content-box">
                        <i class="fa-regular fa-envelope"></i>
                            info@crito.com
                    </div>
                    
                </div>
                <div class="social-media">
                    <a href="https://www.facebook.com/"target="_blank" ><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/" target="_blank" ><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.pinterest.se/" target="_blank"><i class="fa-brands fa-square-pinterest"></i></a>
                    <a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="main-menu">
             <nav>
                <a href="Home">Home</a>
                <a href="Articles">Articles</a>
                <a href="News">News</a>
                <a href="Contacts">Contact</a>
             </nav>
                <a class="btn-theme" href="#">Login <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
    </div>
</header>