@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="news">
   <div class="container">
       <h3>Our News & Articles
       </h3>
       <div class="news-cards">
           <div class="article-card">
               <div class="article-card-img">
                   <img src="~/images/News/Classroom.png" >
                   <div class="date">
                       <p>25 <br> Mars</p>
                   </div>
               </div>
               <div class="article-card-content">
                   <h4>Buissness</h4>
                   <p>How To Use Digitalization In The Classroom
                   </p>
                   <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                   </span>
               </div>
           </div>

           <div class="article-card">
               <div class="article-card-img">
                   <img src="~/images/News/ChatGPT.png" >
                   <div class="date">
                       <p>17 <br> Mars</p>
                   </div>
               </div>
               <div class="article-card-content">
                   <h4>Buissness</h4>
                   <p>How To Use Digitalization In The Classroom
                   </p>
                   <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</span>
               </div>
           </div>

           <div class="article-card">
               <div class="article-card-img">
                   <img src="~/images/News/Guide.png" >
                   <div class="date">
                       <p>13 <br> Mars</p>
                   </div>
               </div>
               <div class="article-card-content">
                   <h4>Buissness</h4>
                   <p>How To Use Digitalization In The Classroom
                   </p>
                   <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                   </span>
               </div>
           </div>

           <div class="article-card">
               <div class="article-card-img">
                   <img src="~/images/News/FiveS.png" >
                   <div class="date">
                       <p>12 <br> Mars</p>
                   </div>
               </div>
               <div class="article-card-content">
                   <h4>Buissness</h4>
                   <p>How To Use Digitalization In The Classroom
                   </p>
                   <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                   </span>
               </div>
           </div>

           <div class="article-card">
               <div class="article-card-img">
                   <img src="~/images/News/EndUser.png" >
                   <div class="date">
                       <p>07 <br> Mars</p>
                   </div>
               </div>
               <div class="article-card-content">
                   <h4>Buissness</h4>
                   <p>How To Use Digitalization In The Classroom
                   </p>
                   <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                   </span>
               </div>
           </div>

           <div class="article-card">
               <div class="article-card-img">
                   <img src="~/images/News/Tour.png" >
                   <div class="date">
                       <p>02 <br> Mars</p>
                   </div>
               </div>
               <div class="article-card-content">
                   <h4>Buissness</h4>
                   <p>How To Use Digitalization In The Classroom
                   </p>
                   <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                   </span>
               </div>
           </div>

           <div class="article-card">
               <div class="article-card-img">
                   <img src="~/images/News/Laptop.png" >
                   <div class="date">
                       <p>28 <br> Mars</p>
                   </div>
               </div>
               <div class="article-card-content">
                   <h4>Buissness</h4>
                   <p>How To Use Digitalization In The Classroom
                   </p>
                   <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                   </span>
               </div>
           </div>

           <div class="article-card">
               <div class="article-card-img">
                   <img src="~/images/News/Classroom.png" >
                   <div class="date">
                       <p>18 <br> Mars</p>
                   </div>
               </div>
               <div class="article-card-content">
                   <h4>Buissness</h4>
                   <p>How To Use Digitalization In The Classroom
                   </p>
                   <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                   </span>
               </div>
           </div>

           <div class="article-card">
               <div class="article-card-img">
                   <img src="~/images/News/Classroom.png" >
                   <div class="date">
                       <p>11 <br> Mars</p>
                   </div>
               </div>
               <div class="article-card-content">
                   <h4>Buissness</h4>
                   <p>How To Use Digitalization In The Classroom
                   </p>
                   <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                   </span>
               </div>
           </div>
       </div>
   </div>
</section>