@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="articles">
    <div class="container">
        <h3>Article & News</h3>
        <div class="article-sub">
            <p>Get every singe article & news</p>
            <a href="#" class="base-button">
                <p>Browse Articles</p>
                <i class="fas fa-arrow-right arrow-icon"></i>
             </a>
        </div>

        <div class="article-cards">
            <div class="article-card">
                <div class="article-card-img">
                    <img src="~/images/News/Classroom.png" >
                    <div class="date">
                        <p>25 <br> mars</p>
                    </div>
                </div>
                <div class="article-card-content">
                    <h4>Buissness</h4>
                    <p>How To Use Digitalization In The Classroom
                    </p>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                    </span>
                </div>
            </div>

            <div class="article-card">
                <div class="article-card-img">
                    <img src="~/images/News/ChatGPT.png" >
                    <div class="date">
                        <p>17 <br> mars</p>
                      
                    </div>
                </div>
                <div class="article-card-content">
                    <h4>Buissness</h4>
                    <p>How To Implement Chat GPT </p>
                    <p>In Your Projects</p>
                    
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                    </span>
                </div>
            </div>

            <div class="article-card">
                <div class="article-card-img">
                    <img src="~/images/News/Guide.png" >
                    <div class="date">
                        <p>13 <br> mars</p>
                    </div>
                </div>
                <div class="article-card-content">
                    <h4>Buissness</h4>
                    <p>The Guide To Support</p>
                    <p>Modern CSS Design</p>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>