@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="ProjectCase">
    <div class="container">
        <h3>Project & Case studies</h3>
        <p>Let´s looks out global projects</p>

        <div class="ProjCards">
          <div class="projcard">
            <img src="~/images/GlobalProjects/Newspaper.png">

            <div class="proj-text">
                <span>Grow your buissness</span>
                
            </div>
           <div class="proj-link">
            <a href="#">Read more</a>
            <i class="fa-solid fa-arrow-up-right"></i>
           </div>
        </div>
        <div class="projcard">
            <img src="~/images/GlobalProjects/Glasses.png">

            <div class="proj-text">
                <span>Why your client needs a responsive website</span>
                
            </div>
           <div class="proj-link">
            <a href="#">Read more</a>
            <i class="fa-solid fa-arrow-up-right"></i>
           </div>
        </div>
        <div class="projcard">
           <img src="~/images/GlobalProjects/Mug.png">

            <div class="proj-text">
                <span>Educate your employees to get better results</span>
                
            </div>
           <div class="proj-link">
            <a href="#">Read more</a>
            <i class="fa-solid fa-arrow-up-right"></i>
           </div>
        </div>
        <div class="projcard">
            <img src="~/images/GlobalProjects/Laptop.png">

            <div class="proj-text">
                <span>Business Insights is a important piece of your business</span>
                
            </div>
           <div class="proj-link">
            <a href="#">Read more</a>
            <i class="fa-solid fa-arrow-up-right"></i>
           </div>
        </div>
        
          </div>
          <a href="#" class="base-button">
            <p>All Recent Projects</p>
            <i class="fas fa-arrow-right arrow-icon"></i>
         </a>
        </div>
</section>