@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="Review-Section">
    <div class="container">
        <h3>Testimonial</h3>
        <p>What our clients say</p>

        <div class="Review-cards">
            <div class="Review-card">
                <div class="card-top">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate</p>        
                </div>
                <div class="card-bottom">
                    <div class="circle">
                        <img src="~/images/Reviews/Cassandra.png" alt="Image">
                    </div>
                    <div class="text">
                        <p>Cassandra Warren</p>
                        <span>Buissness manager, Dorfus</span>
                    </div>
                </div>
            </div>

            <div class="Review-card">
                <div class="card-top">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate</p>        
                </div>
                <div class="card-bottom">
                    <div class="circle">
                        <img src="~/images/Reviews/Amanda.png" alt="Image">
                    </div>
                    <div class="text">
                        <p>Amanda Tulling</p>
                        <span>Senior Developer, Square</span>
                    </div>
                </div>
            </div>

            <div class="Review-card">
                <div class="card-top">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate</p>        
                </div>
                <div class="card-bottom">
                    <div class="circle">
                        <img src="~/images/Reviews/Jack.png" alt="Image">
                    </div>
                    <div class="text">
                        <p>Jack McDogglas</p>
                        <span>Key Account Manager, Gobona</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-button">
            <a href="#" class="base-button">
                <p>All Reviews</p>
                <i class="fas fa-arrow-right arrow-icon"></i>
             </a>
        </div>
    </div>
</section>