@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="OurServiceSection">
    <div class="container">
      <div class="flex-area">
        <div class="service-text">
            <h2>Our Service</h2>
            <p>We provide the best <br>for consultning</p>
        </div>
        <div class="service-cards">
            <div class="service-card">
                <div class="vl-line"></div>
                <h3>Buissnes Advice</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus. </p>
                <div class="round-botton-no-text">
                    <div class="circle-no-text">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>

            <div class="service-card">
                <div class="vl-line"></div>
                <h3>Statup Business</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus. </p>
                <div class="round-botton-no-text">
                    <div class="circle-no-text">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>

            <div class="service-card">
                <div class="vl-line"></div>
                <h3>Financial Advice</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus. </p>
                <div class="round-botton-no-text">
                    <div class="circle-no-text">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>

            <div class="service-card">
                <div class="vl-line"></div>
                <h3>Risk Management</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus. </p>
                <div class="round-botton-no-text">
                    <div class="circle-no-text">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
  
        </div>   
        <div class="service-button">
            <a href="#" class="base-button">
                <p>Browse Services</p>
                <i class="fas fa-arrow-right arrow-icon"></i>
             </a>
        </div>

        </div>
    </div> 
</section>