@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="showcase-section">
        <div class="gray-line" style="position: absolute; left: 0; bottom: 0;">
            <img src="~/images/Showcase/gray-line.png">
        </div>
        <div class="container">
            <div class="showcase">
                <div class="showcase-textarea">
                    <div class="showcase-title">
                        <h2>We provide the best buissness solutions</h2>
                    </div>
                    <div class="showcase-text">
                        <p>Establish your vision and value proposition and turn them into testable prototypes.
                        </p>
                    </div>
                    <div class="showcase-buttons">
                        <a href="#" class="showcase-button">
                            <p>Get Consultning</p>
                            <i class="fas fa-arrow-right arrow-icon"></i>
                        </a>
                        <a href="#" class="showcase-button">
                            <p>Learn moore</p>
                            <i class="fas fa-arrow-right arrow-icon"></i>
                        </a>
                    </div>
                </div>
               <div class="showcase-img">
                    <img  src="~/images/Showcase/showcase-main.png" alt="">
               </div>
            </div>
        </div>
</section>