@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="SignUp-Section">
    <div class="container">
        <h3>Get News Updates By Signup</h3>
        <div class="signup-form">
            <div class="input-wrapper">
                <input type="email" placeholder="username@domain.com">
                <button class="subscribe-button">Subscribe <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
        </div>
    </div>
</section>