@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="MeetOurTeam">
   <div class="container">
    <h3>Meet our team</h3>
    <div class="browse-Team">
        <span>Expericance team members</span>
       <div class="team-button">
        <a href="#" class="base-button">
            <p>Get Consultning</p>
            <i class="fas fa-arrow-right arrow-icon"></i>
         </a>
       </div>
    </div>
    <div class="team-cards">
        <div class="team-card">
            <img src="~/images/TeamMembers/Kristine.png">
            <h4>Kristine Palmer</h4>
            <p>Cheif operating officer</p>
        </div>
        <div class="team-card">
            <img src="~/images/TeamMembers/Mark.png">
            <h4>Mark Aubri</h4>
            <p>Cheif operating officer</p>
        </div>
        <div class="team-card">
            <img src="~/images/TeamMembers/Kimberly.png">
            <h4>Kimberly Hansen</h4>
            <p>Cheif operating officer</p>
        </div>
        <div class="team-card">
            <img src="~/images/TeamMembers/Justin.png">
            <h4>Justin Willoman</h4>
            <p>Cheif operating officer</p>
        </div>
    </div>
   </div>
</section>