@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="WhyUs">
    <div class="container">
        <div class="choose-left">
            <h3>Why Choose us</h3>
             <p>Why we are the <br> best buissnines <br> consulting agency</p>
             <div class="choose-icons">
                <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                <div class="choose-text">
                    <span>Process excellence</span>
                    <p>Lorem ipsum  sit amet concenus</p>
                </div>
             </div>
             <div class="choose-icons">
                <i class="fa-solid fa-bullseye-arrow"></i>
                <div class="choose-text">
                    <span>Strategy planning</span>
                    <p>Lorem ipsum sit amet concenus</p>
                </div>
             </div>
             <div class="choose-icons">
                <i class="fa-sharp fa-regular fa-compass-drafting"></i>
                <div class="choose-text">
                    <span>Experiance design</span>
                    <p>Lorem ipsum  sit amet concenus</p>
                </div>
             </div>
             <div class="choose-icons">
                <i class="fa-solid fa-head-side-gear"></i>
                <div class="choose-text">
                    <span>Artificial Intelligence</span>
                    <p>Lorem ipsum sit amet concenus</p>
                </div>
             </div>
        </div>
        <div class="choose-right">
            <img src="~/images/BestAgency/meeting.png" alt="">
        </div>
    </div>
</section>